ion-content.pokedex-background {
  --background: url('/assets/pokemonimg.jpg') center center / cover no-repeat;
  height: 100%;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

ion-card {
  width: 70%;
  height: 70%; /* Establece la altura automática para adaptarse al contenido */
  border-radius: 10px;
  background: #f8f8f8;
}


.center-image {
  max-width: 100%;
  max-height: 100%;
}

ion-icon {
  font-size: 20px;
}

ion-searchbar {
  --color: black; /* Cambia el color del texto a negro */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 5px;
}

.search-icon {
  margin-top: 10px; /* Ajusta el margen según sea necesario */
  color: #000; 
}

.label-busqueda {
  color: black; /* Color negro para la etiqueta */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
  align-items: center;
}
